<section class="site-section border-bottom bg-light" id="works-section">
    <div class="container">

      <div class="row mb-5 justify-content-center">
        <div class="col-md-7 text-center">
          <h2 class="section-title mb-3" data-aos="fade-up" data-aos-delay="">Works</h2>
        </div>
      </div>
      
      <div class="row align-items-lg-center" >
        <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">

          <div class="owl-carousel slide-one-item-alt">
            <img src="assets/images/img_1.jpg" alt="Image" class="img-fluid">
            <img src="assets/images/img_2.jpg" alt="Image" class="img-fluid">
            <img src="assets/images/img_3.jpg" alt="Image" class="img-fluid">
          </div>
          <div class="custom-direction">
            <a href="#" class="custom-prev"><span><span class="icon-keyboard_backspace"></span></span></a><a href="#" class="custom-next"><span><span class="icon-keyboard_backspace"></span></span></a>
          </div>

        </div>
        <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
          
          <div class="owl-carousel slide-one-item-alt-text">
            <div>
              <h2 class="section-title mb-3">Reservation system for events.</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque nisi, deserunt necessitatibus odio magnam nihil illum
                neque voluptas?</p>

              <p><a href="#" class="btn btn-primary mr-2 mb-2">Learn More</a></p>
            </div>
            <div>
              <h2 class="section-title mb-3">02. Get an approval</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque nisi, deserunt necessitatibus odio magnam nihil illum neque voluptas?</p>
              <p><a href="#" class="btn btn-primary mr-2 mb-2">Learn More</a></p>
            </div>
            <div>
              <h2 class="section-title mb-3">03. Card delivery</h2>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore sapiente labore eius ullam? Iusto?</p>

              <p><a href="#" class="btn btn-primary mr-2 mb-2">Learn More</a></p>
            </div>
            
          </div>
          
        </div>
      </div>
    </div>
  </section>
