<div class="site-blocks-cover overlay" style="background-image: url(../assets/images/hero_2.jpg);" data-aos="fade" id="home-section">

    <div class="container">
      <div class="row align-items-center justify-content-center">

        
        <div class="col-md-10 mt-lg-5 text-center">
          <div class="single-text owl-carousel">
            <div class="slide">
              <h1 class="text-uppercase" data-aos="fade-up">Digital Solutions</h1>
              <p class="mb-5 desc"  data-aos="fade-up" data-aos-delay="100">We create and design digital experiences so as to inspire your clients.</p>
              <div data-aos="fade-up" data-aos-delay="100">
                <a href="#contact-section" class="nav-link" class="btn  btn-primary mr-2 mb-2">Get a quote</a>
              </div>
            </div>

            <div class="slide">
              <h1 class="text-uppercase" data-aos="fade-up">Design Solutions</h1>
              <p class="mb-5 desc" data-aos="fade-up" data-aos-delay="100">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Repudiandae minima delectus accusamus accusantium deleniti libero excepturi porro illo.</p>
              <div data-aos="fade-up" data-aos-delay="100">
                <a href="#contact-section" class="nav-link" class="btn  btn-primary mr-2 mb-2">Get a quote</a>
              </div>
            </div>

            <!-- <div class="slide">
              <h1 class="text-uppercase" data-aos="fade-up">Savings Accounts</h1>
              <p class="mb-5 desc" data-aos="fade-up" data-aos-delay="100">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Repudiandae minima delectus accusamus accusantium deleniti libero excepturi porro illo.</p>
              <div data-aos="fade-up" data-aos-delay="100">
                <a href="#" target="_blank" class="btn  btn-primary mr-2 mb-2">Get In Touch</a>
              </div>
            </div> -->

          </div>
        </div>
          
      </div>
    </div>

    <a href="#services-section" class="mouse smoothscroll">
      <span class="mouse-icon">
        <span class="mouse-wheel"></span>
      </span>
    </a>
  </div>

  <div class="site-section cta-big-image" id="about-section">
    <div class="container">
      <div class="row mb-5 justify-content-center">
        <div class="col-md-8 text-center">
          <h2 class="section-title mb-3" data-aos="fade-up" data-aos-delay="">About Us</h2>
          <p class="lead" data-aos="fade-up" data-aos-delay="100">We are a team of developers and designers who are passionate about creating products that generate a good user experience.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
          <figure class="circle-bg">
          <img src="../assets/images/img_2.jpg" alt="" class="img-fluid">
          </figure>
        </div>
        <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
          
          <h3 class="text-black mb-4">We are a team that has never stopped growing.</h3>

          <p><span class="text-primary">￭</span> Aims to solve real, specific problems and take advantage of tangible opportunities to create value for our clients businesses.</p>
          <p><span class="text-primary">￭</span> We help Business, Marketing, Design and Tech teams work together.</p>
          <p><span class="text-primary">￭</span> Our approach: customer focus, data & technology.</p>
          <p><span class="text-primary">￭</span> We adopt and scale emerging technologies at an accelerated pace.</p>
          
        </div>
      </div>    
      
    </div>  
  </div>

  <section class="site-section border-bottom bg-light" id="services-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12 text-center" data-aos="fade">
          <h2 class="section-title mb-3">Our Services</h2>
        </div>
      </div>
      <div class="row align-items-stretch">
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
          <div class="unit-4">
            <div class="unit-4-icon">
              <img src="../assets/images/flaticon-svg/svg/001-zoom.svg" alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
            </div>
            <div>
              <h3>Analysis</h3>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione animi tempora sint hic quod!</p>
              <!-- <p><a routerLink="#/work1">Learn More</a></p> -->
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="unit-4">
            <div class="unit-4-icon">
              <img src="../assets/images/flaticon-svg/svg/006-credit-card.svg" alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
            </div>
            <div>
              <h3>Design</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores nemo beatae minus incidunt voluptates?</p>
              <!-- <p><a routerLink="#work1">Learn More</a></p> -->
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="200">
          <div class="unit-4">
            <div class="unit-4-icon">
              <img src="../assets/images/flaticon-svg/svg/002-build.svg" alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
            </div>
            <div>
              <h3>Development</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores optio veritatis aperiam consequuntur qui.</p>
              <!-- <p><a href="#">Learn More</a></p> -->
            </div>
          </div>
        </div>


        <!-- <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="">
          <div class="unit-4">
            <div class="unit-4-icon">
              <img src="../assets/images/flaticon-svg/svg/003-notes.svg" alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
            </div>
            <div>
              <h3>Insurance Consulting</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia labore suscipit distinctio inventore doloribus deserunt!</p>
              <p><a href="#">Learn More</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="unit-4">
            <div class="unit-4-icon">
              <img src="../assets/images/flaticon-svg/svg/004-cart.svg" alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
            </div>
            <div>
              <h3>Financial Investment</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque odio voluptatibus repellat hic officia quibusdam!</p>
              <p><a href="#">Learn More</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="200">
          <div class="unit-4">
            <div class="unit-4-icon">
              <img src="../assets/images/flaticon-svg/svg/005-megaphone.svg" alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
            </div>
            <div>
              <h3>Financial Management</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, iusto eaque velit saepe nobis ipsa?</p>
              <p><a href="#">Learn More</a></p>
            </div>
          </div>
        </div> -->

      </div>
    </div>
  </section>


  <section class="site-section border-bottom bg-light" id="works-section">
    <div class="container">

      <div class="row mb-5 justify-content-center">
        <div class="col-md-7 text-center">
          <h2 class="section-title mb-3" data-aos="fade-up" data-aos-delay="">Works</h2>
        </div>
      </div>
      
      <div class="row align-items-lg-center" >
        <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">

          <div class="owl-carousel slide-one-item-alt">
            <img src="assets/images/img_1.jpg" alt="Image" class="img-fluid">
            <img src="assets/images/img_2.jpg" alt="Image" class="img-fluid">
            <img src="assets/images/img_3.jpg" alt="Image" class="img-fluid">
          </div>
          <div class="custom-direction">
            <a href="#" class="custom-prev"><span><span class="icon-keyboard_backspace"></span></span></a><a href="#" class="custom-next"><span><span class="icon-keyboard_backspace"></span></span></a>
          </div>

        </div>
        <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
          
          <div class="owl-carousel slide-one-item-alt-text">
            <div>
              <h2 class="section-title mb-3">Reservation system for events.</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque nisi, deserunt necessitatibus odio magnam nihil illum
                neque voluptas?</p>

              <p><a href="https://www.behance.net/gallery/44970925/Patagonianet" target="_blanc" class="btn btn-primary mr-2 mb-2">Learn More</a></p>
            </div>
            <div>
              <h2 class="section-title mb-3">Stock System for retail.</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque nisi, deserunt necessitatibus odio magnam nihil illum neque voluptas?</p>
              <p><a href="https://www.behance.net/gallery/44970925/Patagonianet" target="_blanc" class="btn btn-primary mr-2 mb-2">Learn More</a></p>
            </div>
            <!-- <div>
              <h2 class="section-title mb-3">03. Card delivery</h2>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore sapiente labore eius ullam? Iusto?</p>

              <p><a href="#" class="btn btn-primary mr-2 mb-2">Learn More</a></p>
            </div> -->
            
          </div>
          
        </div>
      </div>
    </div>
  </section>

  <section class="site-section border-bottom" id="team-section">
    <div class="container">
      <div class="row mb-5 justify-content-center">
        <div class="col-md-8 text-center">
          <h2 class="section-title mb-3" data-aos="fade-up" data-aos-delay="">Meet Team</h2>
          <p class="lead" data-aos="fade-up" data-aos-delay="100">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
        </div>
      </div>
      <div class="row">
        

        
        <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="">
          <div class="team-member">
            <figure>
              <ul class="social">
                <!-- <li><a href="#"><span class="icon-facebook"></span></a></li>
                <li><a href="#"><span class="icon-twitter"></span></a></li> -->
                <li><a href="https://www.linkedin.com/in/adri%C3%A1n-fern%C3%A1ndez-9271b717/" target="_blank"><span class="icon-linkedin"></span></a></li>
                <!-- <li><a href="#"><span class="icon-instagram"></span></a></li> -->
              </ul>
              <img src="../assets/images/person_1.jpg" alt="Image" class="img-fluid">
            </figure>
            <div class="p-3">
              <h3>Adrián Fernández</h3>
              <span class="position">Visual Designer & Front-end Developer</span>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="100">
          <div class="team-member">
            <figure>
              <ul class="social">
                <li><a href="#"><span class="icon-facebook"></span></a></li>
                <li><a href="#"><span class="icon-twitter"></span></a></li>
                <li><a href="#"><span class="icon-linkedin"></span></a></li>
                <li><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
              <img src="../assets/images/person_1.jpg" alt="Image" class="img-fluid">
            </figure>
            <div class="p-3">
              <h3>Dave Simpson</h3>
              <span class="position">Bank Teller</span>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="200">
          <div class="team-member">
            <figure>
              <ul class="social">
                <li><a href="#"><span class="icon-facebook"></span></a></li>
                <li><a href="#"><span class="icon-twitter"></span></a></li>
                <li><a href="#"><span class="icon-linkedin"></span></a></li>
                <li><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
              <img src="../assets/images/person_1.jpg" alt="Image" class="img-fluid">
            </figure>
            <div class="p-3">
              <h3>Ben Thompson</h3>
              <span class="position">Bank Teller</span>
            </div>
          </div>
        </div>

        
        
      </div>
    </div>
  </section>

  <section class="site-section bg-light" data-aos="fade" id="contact-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12 text-center">
          <h2 class="section-title mb-3">Contact Us</h2>
        </div>
      </div>
      <!-- <div class="row mb-5">
        


        <div class="col-md-4 text-center">
          <p class="mb-4">
            <span class="icon-room d-block h2 text-primary"></span>
            <span>203 Fake St. Mountain View, San Francisco, California, USA</span>
          </p>
        </div>
        <div class="col-md-4 text-center">
          <p class="mb-4">
            <span class="icon-phone d-block h2 text-primary"></span>
            <a href="#">+1 232 3235 324</a>
          </p>
        </div>
        <div class="col-md-4 text-center">
          <p class="mb-0">
            <span class="icon-mail_outline d-block h2 text-primary"></span>
            <a href="#">youremail@domain.com</a>
          </p>
        </div>
      </div> -->
      <div class="row">
        <div class="col-md-12 mb-5">

          

          <form [formGroup]="contactForm" (ngSubmit)="onSaveForm()" class="p-5 bg-white">
            
            <h2 class="h4 text-black mb-5">Contact Form</h2> 

            <div class="row form-group">
              <div class="col-md-12 mb-3 mb-md-0">
                <label class="text-black" for="fname">Name</label>
                <input type="text" formControlName="fname" id="fname" class="form-control">
                <div *ngIf="fname.invalid && (fname.dirty || fname.touched)" style="font-size: small; color: red;">
                  <div *ngIf="fname.errors.required">
                    Name is required.
                  </div>
                  <!-- <div>
                    Name must be at least 5 characters long.
                  </div> -->
            </div>
              </div>
             
              <!-- <div class="col-md-6">
                <label class="text-black" for="lname">Last Name</label>
                <input type="text" formControlName="lname"id="lname" class="form-control">
              </div> -->
            </div>

            <div class="row form-group">
              
              <div class="col-md-12">
                <label class="text-black" for="email">Email</label> 
                <input type="email" formControlName="email" id="email" class="form-control">
                <div *ngIf="email.invalid && (email.dirty || email.touched)" style="font-size: small; color: red;">
                  <div *ngIf="email.errors.required">
                    E-mail is required.
                  </div>
                  <!-- <div class="container-error-message">
                    Name must be at least 5 characters long.
                  </div> -->
            </div>
              </div>
            </div>

            <!-- <div class="row form-group">
              
              <div class="col-md-12">
                <label class="text-black" for="subject">Subject</label> 
                <input type="subject" formControlName="subject" id="subject" class="form-control">
              </div>
            </div> -->

            <div class="row form-group">
              <div class="col-md-12">
                <label class="text-black" for="message">Message</label> 
                <textarea name="message" formControlName="message" id="message" cols="30" rows="7" class="form-control" placeholder="Ask for your quote or write questions here..."></textarea>
                <div *ngIf="message.invalid && (message.dirty || message.touched)" style="font-size: small; color: red;">
                  <div *ngIf="message.errors.required">
                    Message is required.
                  </div>
                  <!-- <div class="container-error-message">
                    Name must be at least 10 characters long.
                  </div> -->
            </div>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <button (click)="showModal()" type="submit" [disabled]="contactForm.invalid" class="btn btn-primary btn-md text-white">Send Message</button>
              </div>
            </div>


          </form>
        </div>
        
      </div>
    </div>
  </section>